*{
	margin:0;
	padding:0;
}
.header{
	width:100%;
	height:40px;
	
}
.first{
	width:6%;
	float:left;
	padding-left:10px;
}
.second{
	width:88%;
	float:left;
	font-size:30px;
	font-weight:bold;
	text-align:left;
	padding-top:20px;
}
.bodypart{
	width:100%;
	text-align:center;
}
.bodypart1{
	width:55%;
	float:left;
	padding-top:10%;
}
.bodypart2{
	width:42%;
	float:left;
	padding-top:8%;
}
.formcontrol{
	width:200px;
	height:40px;
}
label{
	font-size:35px;
}

button{
	background-color:skyblue;
	color:black;
	width:200px;
	height:40px;
	font-weight:bold;
}
h1{
	color:#ff5c00;
}
.userhome{
	text-align:left;
	font-size:30px;
	font-weight:bold;
	
	padding:12px;
}
.heading{
	font-size:30px;
	color:steelblue;
}
.addbtn{
	background-color:steelblue;
	float:right;
	color:white;
}
table{
	width:98%;
	margin:0;
}
td{
	padding:10px;
	text-align:left;
}